<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
    <div class="z-body animated fadeIn">
        <blockquote class="layui-elem-quote">欢迎：
            <span><shiro:principal property="username"/></span>！当前时间: [[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]]</blockquote>
        <fieldset class="layui-elem-field">
            <legend>数据统计</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div id="statsChart" style="width: 100%; height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>最近登录</legend>
            <div class="layui-field-box">
                <div id="main" style="width: 100%;height:400px;"></div>
            </div>
        </fieldset>
    </div>

    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/lib/echarts/echarts.min.js}"></script>



    <script type="application/javascript">
        layui.use('element', function(){
            layui.$("#main").css("width", (window.innerWidth - 100) +'px');
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            option = {
                title: {
                    text: '近七天登陆次数统计图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'none' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                xAxis: {
                    type: 'category',
                    data:  getWeekList()
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [],
                    type: 'line'
                }]
            };
            layui.$.get('/weekLoginCount', function (data) {
                option.series[0].data = data;
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            });

            // 统计数据柱状图
            initStatsChart();
        });

        function initStatsChart() {
            // 从Thymeleaf获取统计数据
            var userCount = [[${userCount}]];
            var roleCount = [[${roleCount}]];
            var menuCount = [[${menuCount}]];
            var loginLogCount = [[${loginLogCount}]];
            var sysLogCount = [[${sysLogCount}]];
            var userOnlineCount = [[${userOnlineCount}]];

            // 定义数据项和对应的颜色（与layui风格匹配）
            var statsData = [
                { name: '用户数', value: userCount, color: '#1E9FFF', url: '/user/index', tabName: '用户管理' },
                { name: '角色数', value: roleCount, color: '#5FB878', url: '/role/index', tabName: '角色管理' },
                { name: '菜单数', value: menuCount, color: '#FFB800', url: '/menu/index', tabName: '菜单管理' },
                { name: '登录日志', value: loginLogCount, color: '#FF5722', url: '/log/login/index', tabName: '登录日志' },
                { name: '操作日志', value: sysLogCount, color: '#009688', url: '/log/sys/index', tabName: '操作日志' },
                { name: '在线人数', value: userOnlineCount, color: '#2F4056', url: '/online/index', tabName: '在线人数' }
            ];

            var chartDom = document.getElementById('statsChart');
            var statsChart = echarts.init(chartDom);

            var option = {
                title: {
                    text: '系统数据统计',
                    left: 'center',
                    textStyle: {
                        color: '#333',
                        fontSize: 16,
                        fontWeight: 'normal'
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    formatter: function(params) {
                        var data = params[0];
                        return data.name + '<br/>' + 
                               '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:' + data.color + ';"></span>' +
                               '数量: <strong>' + data.value + '</strong>';
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top: '15%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: statsData.map(function(item) { return item.name; }),
                    axisLabel: {
                        interval: 0,
                        rotate: 0,
                        color: '#666'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#e6e6e6'
                        }
                    },
                    axisTick: {
                        alignWithLabel: true
                    }
                },
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        color: '#666'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#e6e6e6'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#f0f0f0'
                        }
                    }
                },
                series: [{
                    name: '数量',
                    type: 'bar',
                    barWidth: '50%',
                    data: statsData.map(function(item) {
                        return {
                            value: item.value,
                            itemStyle: {
                                color: item.color,
                                borderRadius: [4, 4, 0, 0]
                            }
                        };
                    }),
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.2)'
                        }
                    },
                    label: {
                        show: true,
                        position: 'top',
                        formatter: '{c}',
                        color: '#666'
                    }
                }]
            };

            statsChart.setOption(option);

            // 点击事件 - 跳转对应页面（使用 zrender 捕获整个画布点击）
            statsChart.getZr().on('click', function(params) {
                var pointInPixel = [params.offsetX, params.offsetY];
                
                // 使用 convertFromPixel 获取点击位置对应的数据索引
                if (statsChart.containPixel('grid', pointInPixel)) {
                    var pointInGrid = statsChart.convertFromPixel({ seriesIndex: 0 }, pointInPixel);
                    var dataIndex = pointInGrid[0];
                    
                    if (dataIndex >= 0 && dataIndex < statsData.length) {
                        var item = statsData[dataIndex];
                        if (item && item.url) {
                            openTab(item.tabName, item.url);
                        }
                    }
                }
            });

            // 鼠标样式设置为手型，提示可点击
            statsChart.getZr().on('mousemove', function(params) {
                var pointInPixel = [params.offsetX, params.offsetY];
                if (statsChart.containPixel('grid', pointInPixel)) {
                    statsChart.getZr().setCursorStyle('pointer');
                } else {
                    statsChart.getZr().setCursorStyle('default');
                }
            });

            // 响应式处理
            window.addEventListener('resize', function() {
                statsChart.resize();
            });
        }
    </script>
</body>
</html>